<?xml version="1.0" encoding="utf-8"?>
<!-- The name of the file must be in the following form: [name of the assembly without extension,e.g. [SimaticNET.OPC.OpcClient].config-->
<TraceSettings>
	<Trace TraceLevel="7" MaxTraceEntries="10000" NumberOfBackupFiles="7" TraceFileName="SimaticNET.OPC.OpcClient.log" ApplicationName="TestApplication"/>
	<!--Trace documentation
		Attribute TraceLevel: 
		    NoTrace = 0,
		    Errors = 1,
			Warning = 2,
			Info = 3,
			InterfaceCall = 4,
			CtorDtor = 5,
			ProgramFlow = 6,
			Data = 7
		Attribute MaxTraceEntries:
			The maximum number of trace entries in one file
		Attribute NumberOfBackupFiles:
			The number of backup files
		Attribute TraceFileName:
			The name of the trace file
		Attribute ApplicationName:
			The name of the application (will be written in the header of the trace file)
		-->
	<ErrorTrace TraceFileName="SimaticNET.OPC.OpcClient.log" ApplicationName="TestApplication"/>
	<!--ErrorTrace documentation
		Attribute TraceFileName:
			The name of the trace file
		Attribute ApplicationName:
			The name of the application (will be written in the header of the trace file)
	-->
</TraceSettings>
