<?xml version="1.0"?>
<trace>
  <sharedListeners>
    <add name="DebugListener"/>
    <add name="FileListener" initializeData="ocx.net.log" maxTraceSize="10000000" maxBackfiles="3"/>
  </sharedListeners>
  <switches>
    <!-- possible switch values are:
                Off             no tracing,
                Critical        Critical events only,
                Error           Critical and Error events,
                Warning         Critical, Error and Warning events,
                Information     Critical, Error, Warning and Information events,
                Verbose         Critical, Error, Warning, Information and Verbose events,
                ActivityTracing Stop, Start, Suspend, Transfer and Resume events,
                All             all events
            -->

    <add name="BrowserSwitch" value="All"/>
    <add name="ConnectorSwitch" value="All"/>
    <add name="CommonSwitch" value="All"/>
  </switches>
  <sources>
    <source name="BrowseControls" switchName="BrowserSwitch">
      <listeners>
        <add name="FileListener"/>
        <add name="DebugListener"/>
      </listeners>
    </source>
    <source name="OpcConnector" switchName="ConnectorSwitch">
      <listeners>
        <add name="FileListener"/>
        <add name="DebugListener"/>
      </listeners>
    </source>
    <source name="Common" switchName="CommonSwitch">
      <listeners>
        <add name="FileListener"/>
        <add name="DebugListener"/>
      </listeners>
    </source>
  </sources>
</trace>